*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Georgia, serif;
}

button {
  font-family: inherit;
  border: none;
  background-color: black;
  color: white;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: whitesmoke;
  position: relative;
}

#reset {
  position: fixed;
  top: 8px;
  right: 8px;
  align-self: flex-end;
}

.icon-button {
  padding: 6px;
  border: none;
  border-radius: 99px;
  line-height: 1;
}

.hide {
  display: none;
}

.app {
  height: 100%;
  width: 500px;
  max-width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 24px;
}

.heading {
  font-size: 1.5rem;
}

.button {
  min-width: calc(50% - 12px);
  font-size: 1rem;
  padding: 12px 24px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.notes {
  list-style: none;
  padding: 0;
  line-height: 1.5;
  color: #555555;;
}
