.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px;
}

#reset {
	align-self: flex-end;
}

.hide {
	display: none;
}

.app {
	width: 500px;
	max-width: 100%;

	.button:first-of-type {
		float: left;
	}
	.button:nth-of-type(2) {
		float: right;
	}
}

.button {
	font-size: 1.5rem;
	padding: 12px 24px;
}